<a href="https://colab.research.google.com/github/limdiny/python-algorithm/blob/main/1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 순차 탐색 문제
숫자x가 리스트 안에 있으면 인덱스(위치)를 반환하고, 없으면 no을 반환한다.

In [ ]:
def seqsearch(x,S,n):
  location = 0
  while (location <= n and S[location]!=x):
    location += 1
  if (location > n):
    location = 'no'
  return location

In [ ]:
list = [1,8,9,10,11,99,23]

seqsearch(16,list,len(list)-1)

'no'

# 리스트 원소의 합

In [ ]:
def sumlist(s,n):
  sum = 0
  location = 0
  while (location <= n):
    sum += s[location]
    location += 1
  return sum

In [ ]:
list = [-1,10,7,11,5,13,8]

sumlist(list,len(list)-1)

53

In [ ]:
def sum(s,n):
  result = 0
  for i in range(len(s)):
    result += s[i]
  return result

In [ ]:
list = [-1,10,7,11,5,13,8]

sum(list,len(list)-1)

53

# 리스트 정렬 문제 
n개의 수로 구성된 리스트 s를 오름차순으로 정렬하시오

In [ ]:
# 비교 후 교환
def upsorting(s):
  for i in range(len(s)):
    for j in range(i,len(s)):
        if (s[i]>s[j]):
          s[i],s[j] = s[j],s[i]
  return s

In [ ]:
list = [-1,10,7,11,5,13,8]

upsorting(list)

[-1, 5, 7, 8, 10, 11, 13]

# 행렬의 곱셈
어렵다...........

In [ ]:
def matrixmul(A,B):
  n= len(A)
  C= [[0]*n for i in range(n)]
  for i in range(n):
    for j in range(n):
      for k in range(n):
        C[i][j] += A[i][k]*B[k][j]
  return C

In [ ]:
A=[[2,3],[4,1]]
B=[[5,7],[6,8]]

matrixmul(A,B)

[[28, 38], [26, 36]]